html {
  height: 100%;
  width: 100%;
}

#drawingCanvas {
  background-color: grey;
  display: block;
  margin: 0 auto 10px;
  /* center the canvas and give space below it */
}

.controls-container {
  display: flex;
  /* Instead of fixed */
  justify-content: center-under;
  align-items: center;
  flex-wrap: wrap;
}